<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="./polymerday-sponsor-item.html">

<dom-module id="polymerday-sponsors-list">
  <template>

    <style include="polymerday-classes">
      :host {
        display: block;
      }
      .sponsors--container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
      }

      .logos-size--xl {
        width: calc(100% / 2);
      }

      .logos-size--l {
        width: calc(100% / 3);
      }

      .logos-size--m {
        width: calc(100% / 4);
      }

      .logos-size--s {
        width: calc(100% / 8);
      }

      .title--container h2 {
        margin:0 0 17px 0;
        padding: 32px 24px 40px;
        color: var(--color-blue-primary);
        font-size: 3em;
        font-weight: 100;
        letter-spacing: 5px;
        text-transform: uppercase;
      }

      @media (min-width:720px) {
        .title--container {
          padding: 40px 24px 80px;
        }
        .title--container h2{
          font-size: 4em;
        }
      };

      @media (max-width:720px) {
        .logos-size--xl {
          width: 100%;
        }

        .logos-size--l {
          width: 60%;
        }

        .logos-size--m {
          width: calc(100% / 2);
        }

        .logos-size--s {
          width: calc(60% / 2);
        }
      }

    </style>

    <h2 class="item-title">{{header}}</h2>

    <div class$="sponsors--container sponsors--container--{{logos-size}}">
      <template is="dom-repeat" items="{{sponsors}}" as="sponsor">
        <polymerday-sponsor-item class$="center logos-size--{{logos-size}}" sponsor="[[sponsor]]"></polymerday-sponsor-item>
      </template>
    </div>
  </template>

  <script>

    Polymer({

      is: 'polymerday-sponsors-list',

      properties: {

        sponsors: Array,

        header: String,

        logosSize: String

      }

    });

  </script>
</dom-module>
