<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/app-route/app-route.html">

<link rel="import" href="./polymerday-schedule-item.html">

<dom-module id="polymerday-schedule-list">

  <template>
    <style>
      :host {
        display: block;
      }
      .event {
        padding: 0 24px;
      }

      .event--highlight {
        background: var(--color-blue-light);
      }

      polymerday-schedule-item {
        max-width: 992px;
        margin: auto;
      }
    </style>

    <app-route
      route="{{route}}"
      pattern="/:event"
      data="{{routeData}}"
      tail="{{subroute}}"></app-route>

    <template is="dom-repeat" items="[[events]]">
      <div class$="event [[_computeClass(item.type)]]">
        <polymerday-schedule-item id$="[[item.id]]" event="[[item]]" opened="[[_computeOpened(item)]]"></polymerday-schedule-item>
      </div>
    </template>
  </template>

  <script>
    Polymer({
      is: 'polymerday-schedule-list',

      properties: {
        events: Array
      },

      observers: [
        '_routeDataEventChanged(events.splices, routeData.event)'
      ],

      _computeClass: function(type) {
        return type === 'activity' ? 'event--highlight' : '';
      },

      _computeOpened: function(event) {
        return event.id === this.routeData.event;
      },

      _routeDataEventChanged: function(events, eventId) {
        if (eventId) {
          Polymer.RenderStatus.afterNextRender(this, function(){
            var eventNode = this.$$('#'+eventId);
            eventNode && eventNode.set('opened', true) && eventNode.scrollIntoView();
          });
        }
      }
    });
    </script>
</dom-module>
