<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../commons/polymerday-data.html">
<link rel="import" href="../commons/polymerday-section-title.html">
<link rel="import" href="../styles/polymerday-theme.html">
<link rel="import" href="./polymerday-speakers/polymerday-speaker.html">

<dom-module id="polymerday-speakers">

  <template>

  <style>
    :host {
      display: block;
      padding: 10px;
      @apply(--layout-vertical)
    }
    .speakers {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0;
    }

    .speakers li {
      display: flex;
      justify-content: center;
    }

    polymerday-speaker {
      width: 100%;
      max-width: 950px;
    }

  </style>
    <polymerday-data
      page="speakers"
      data="{{speakers}}"></polymerday-data>

    <polymerday-section-title title="SPEAKERS" message="More than 10 talks from developers with Polymer"></polymerday-section-title>

    <ul class="speakers">
        <template is="dom-repeat" items="[[speakers]]">
          <li>
            <polymerday-speaker id="[[item.id]]" speaker="[[item]]" image-left="[[_computeImageLeft(index)]]"></polymerday-speaker>
          </li>
        </template>
    </ul>

  </template>

  <script>

    Polymer({

      is: 'polymerday-speakers',

      properties: {
        speakers: {
          type: Array
        }
      },

      _computeImageLeft: function(index) {
        return !!(index % 2);
      }
    });

  </script>

</dom-module>
