<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../commons/polymerday-localize-behavior.html">
<link rel="import" href="../commons/polymerday-section-title.html">
<link rel="import" href="../commons/polymerday-rating.html">

<dom-module id="polymerday-venue">

  <template>

  <style include="polymerday-classes">
    :host {
      display: block;
    }

    .card-content__address--container p{
      margin:0;
    }

    .card-title,
     .card-content__link{
      margin: 0;
      width:100%;
    }

    .card-title {
      margin: 0 0 9px;
    }

    .card-content__link iron-icon {
      height: 16px;
    }
    .card-content__link iron-icon[icon="place"] {
      vertical-align: baseline;
    }

    .card-content__address{
      margin-bottom: 0;
      color: var(--color-blue-medium);
      font-family: Roboto;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 32px;
    }

    .map {
      height: 400px;
      margin-bottom: 40px;
    }

    .gallery {
      display: -ms-flexbox;
      -ms-flex-wrap: wrap;
      -ms-flex-direction: column;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      display: -webkit-box;
      display: flex;
      margin: 0 0 2em 0;
      padding: 0;
      list-style: none;
    }
    .gallery li {
      margin: 0;
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
      width: 320px;
    }
    .gallery li img {
      display: block;
      width: 100%;
      height: auto;
    }

    .text-list {
      width: 100%;
    }
    .text-list li {
      margin: 16px 0;
    }

    .text-list a {
      color: var(--color-blue-primary);
    }

    .hotel-list { margin-top: 20px; }

    .pd-card__title {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    .pd-card__title > a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 73%;
    }

    .pd-card {
      position: relative;
    }

  </style>
    <polymerday-section-title title="[[localize('venue.title')]]" message="[[localize('venue.text')]]"></polymerday-section-title>
    <google-map class="map full-width" api-key="AIzaSyBFnBHD71cVoldgU_GINuLx0382dpqF1ZU" latitude="40.4208415" longitude="-3.7188506"  fit-to-markers zoom="15" disable-zoom>
      <google-map-marker latitude="40.4208415" longitude="-3.7188506"></google-map-marker>
    </google-map>
    <div class="content">
      <h2 class="card-title item-title">La Estación Gran Teatro Príncipe Pío</h2>
      <p class="card-content__link item-subtitle">
        <a href="https://www.google.es/maps/place/La+Estaci%C3%B3n+Gran+Teatro+Pr%C3%ADncipe+P%C3%ADo/@40.4208415,-3.7188506,15z/data=!4m2!3m1!1s0x0:0x89ba0fea276d4684?sa=X&ved=0ahUKEwj3-sWwuevOAhVIOhoKHRz-CEwQ_BIIhQEwCg" tabindex="-1">
          <iron-icon icon="place"></iron-icon>Cuesta de San Vicente 44, 28008 Madrid
        </a>
      </p>
      <p class="card-content__link item-subtitle">
        <a href="http://laestacion.com">
          <iron-icon icon="link"></iron-icon>www.laestacion.com
        </a>
      </p>
      <p class="text--default">[[localize('venue.description')]]</p>

      <ul class="gallery">
        <li><img src="../images/venue/venue-1.jpg" alt="Photo venue 1" /></li>
        <li><img src="../images/venue/venue-2.jpg" alt="Photo venue 2" /></li>
        <li><img src="../images/venue/venue-3.jpg" alt="Photo venue 3" /></li>
        <li><img src="../images/venue/venue-4.jpg" alt="Photo venue 4" /></li>
        <li><img src="../images/venue/venue-5.jpg" alt="Photo venue 5" /></li>
        <li><img src="../images/venue/venue-6.jpg" alt="Photo venue 6" /></li>
      </ul>

      <h2 class="card-title item-title">[[localize('venue.accommodation')]]</h2>
      <p class="text--default">[[localize('venue.accommodation.description')]]</p>

      <div class="double-layout hotel-list">
        <paper-card class="double-layout__item pd-card" image="../src/images/hotels/jardines-de-sabatini.jpg">
          <div class="pd-card__content">
            <h3 class="pd-card__title">
              <a href="http://www.jardinesdesabatini.com/">Jardines de Sabatini</a>
              <polymerday-rating rating="3"><span class="sr-only">3 [[localize('venue.stars')]]</span></polymerday-rating>
            </h3>
            <p>Cuesta de San Vicente 16, 28008 Madrid</p>
          </div>
        </paper-card>

        <paper-card class="double-layout__item pd-card" image="../src/images/hotels/senator-gran-via.jpg">
          <div class="pd-card__content">
            <h3 class="pd-card__title">
              <a href="http://www.senatorgranvia70spahotel.com">Senator Gran Vía</a>
              <polymerday-rating rating="4"><span class="sr-only">4 [[localize('venue.stars')]]</span></polymerday-rating>
            </h3>
            <p>Gran Vía 70, 28013 Madrid</p>
          </div>
        </paper-card>

        <paper-card class="double-layout__item pd-card" image="../src/images/hotels/jc-puerta-del-sol.jpg">
          <div class="pd-card__content">
            <h3 class="pd-card__title">
              <a href="http://www.jchoteles-puertadelsol.com/">JC Puerta del Sol</a>
              <polymerday-rating rating="3"><span class="sr-only">3 [[localize('venue.stars')]]</span></polymerday-rating>
            </h3>
            <p>Flora 4 - 1º, 28013 Madrid</p>
          </div>
        </paper-card>

        <paper-card class="double-layout__item pd-card" image="../src/images/hotels/jc-santo-domingo.jpg">
          <div class="pd-card__content">
            <h3 class="pd-card__title">
              <a href="http://www.jchoteles-santodomingo.com/">JC Santo Domingo</a>
              <polymerday-rating rating="3"><span class="sr-only">3 [[localize('venue.stars')]]</span></polymerday-rating>
            </h3>
            <p>Cuesta de Santo Domingo 16, 28013 Madrid</p>
          </div>
        </paper-card>

        <paper-card class="double-layout__item pd-card" image="../src/images/hotels/jc-santa-ana.jpg">
          <div class="pd-card__content">
            <h3 class="pd-card__title">
              <a href="http://www.jchoteles-santodomingo.com/">JC Santa Ana</a>
              <polymerday-rating rating="3"><span class="sr-only">3 [[localize('venue.stars')]]</span></polymerday-rating>
            </h3>
            <p>Cruz 8, 28012 Madrid</p>
          </div>
        </paper-card>
      </div>

    </div>
  </template>

  <script>

    Polymer({

      is: 'polymerday-venue',

      behaviors: [
        Polymerday.AppLocalizeBehavior
      ]

    });

  </script>

</dom-module>
