<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="polymerday-sponsors">

  <template>

  <style include="polymerday-classes">
    :host {
      display: block;
    }

    a {
      text-decoration: none;
    }

    .jumbotron {
      background-color: var(--color-blue-light);
      padding: 45px 0;
    }

    .title {
      margin-top: 0;
      margin-bottom: 16px;
    }

    .sponsors {
      max-width: 80%;
    }

    .item-subtitle {
      color: var(--color-grey-primary);
    }

  </style>

    <app-route
        route="{{route}}"
        pattern="/:sponsor"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

    <iron-pages selected="[[page]]" attr-for-selected="name">
      <polymerday-sponsors-all name="all"></polymerday-sponsors-all>
      <polymerday-sponsor-microsite name="microsite" sponsor="{{routeData.sponsor}}"></polymerday-sponsor-microsite>
    </iron-pages>

  </template>

  <script>

    Polymer({

      is: 'polymerday-sponsors',

      behaviors: [
        Polymerday.AppLocalizeBehavior
      ],

      properties: {
        route: {
          type: Object
        },

        page: {
          type: String,
          computed: '_selectPage(routeData.sponsor)',
          observer: '_pageChanged'
        }
      },

      _selectPage: function(sponsor) {
        return sponsor ? 'microsite': 'all';
      },

      _pageChanged: function(page) {
        if (page) {
          var url = this.resolveUrl('./polymerday-sponsors-' + page + '.html');
          // load page import on demand.
          this.importHref(url, null, null, true);
        }
      }

    });

  </script>

</dom-module>
