<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/iron-a11y-announcer/iron-a11y-announcer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../commons/polymerday-localize-behavior.html">
<link rel="import" href="../commons/polymerday-data.html">
<link rel="import" href="../commons/polymerday-section-title.html">

<link rel="import" href="./polymerday-schedule/polymerday-schedule-list.html">

<dom-module id="polymerday-schedule">

  <template>

  <style include="polymerday-classes">
    :host {
      display: block;
    }
    .item-title {
      width: 100%;
    }
    polymerday-schedule-list {
      width: 100%;
    }
  </style>

  <polymerday-section-title title="[[localize('schedule.title')]]" message="[[localize('schedule.text')]]"></polymerday-section-title>

  <polymerday-data data="{{eventsFriday}}" page="schedule" order-by="start" start-at="Fri Oct 21 2016 00:00:01 GMT+02:00" end-at="Fri Oct 21 2016 23:59:59 GMT+02:00"></polymerday-data>
  <div class="content center">
    <h2 class="item-title">[[localize('schedule.friday')]]</h2>
  </div>
  <div class="content full-width">
    <polymerday-schedule-list day="friday" events="[[eventsFriday]]" route="{{route}}"></polymerday-schedule-list>
  </div>

  <polymerday-data data="{{eventsSaturday}}" page="schedule" order-by="start" start-at="Sat Oct 22 2016 00:00:01 GMT+02:00" end-at="Sat Oct 22 2016 23:59:59 GMT+02:00"></polymerday-data>
  <div class="content center">
    <h2 class="item-title">[[localize('schedule.saturday')]]</h2>
  </div>
  <div class="content full-width">
    <polymerday-schedule-list day="saturday" events="[[eventsSaturday]]" route="{{route}}"></polymerday-schedule-list>
  </div>

  </template>

  <script>
    Polymer({

      is: 'polymerday-schedule',

      behaviors: [
        Polymerday.AppLocalizeBehavior
      ],

      properties: {
        route: {
          type: Object
        },

        routeData: {
          type: Object
        },

        subroute: {
          type: Object
        }
      }
    });

  </script>

</dom-module>
