<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../commons/polymerday-data.html">
<link rel="import" href="../commons/polymerday-section-title.html">

<link rel="import" href="./polymerday-sponsors/polymerday-sponsors-list.html">


<dom-module id="polymerday-sponsors">

  <template>

  <style include="polymerday-classes">
    :host {
      display: block;
    }

    a {
      text-decoration: none;
    }

    .content {
      @apply(--layout-vertical);
      @apply(--layout-center-center);
      position: relative;;
      text-align: center;
    }

    .jumbotron {
      background-color: var(--color-blue-light);
      width: calc(100vw - 160px);
      padding: 45px 80px;
    }

    @media (max-width:600px) {
      .jumbotron {
        padding: 45px 10px;
        width: calc(100vw - 20px);
      }
    }

    .title {
      margin-top: 0;
      margin-bottom: 16px;
    }

    .sponsors {
      max-width: 80%;
    }
  </style>

  <div class="content">
    <polymerday-section-title title="Sponsors" message="Here are the people that make it happen"></polymerday-section-title>

    <div class="jumbotron">
      <h2 class="title item-title">Become one of our sponsors</h2>
      <p class="item-subtitle">Do you want to be part of the fist event about Polymer in Spain?</p>
      <p><a class="callToAction" target="_blank" href="https://drive.google.com/open?id=0Bztz0UIAZ0trYklac2dwdWl0bVpoeS1yTzh4T2VSbkV2WmJn" tabindex="-1"><paper-button class="btn--primary">I want</paper-button></a></p>
    </div>

    <div class="sponsors">
      <polymerday-data
        page="sponsors"
        subpage="platinum"
        data="{{sponsorsPlatinum}}"></polymerday-data>
      <template is="dom-if" if="[[sponsorsPlatinum.length]]">
        <polymerday-sponsors-list
          sponsors="{{sponsorsPlatinum}}"
          header="Platino Sponsoring"
          logos-size="xl"></polymerday-sponsors-list>
      </template>

      <polymerday-data
        page="sponsors"
        subpage="gold"
        data="{{sponsorsGold}}"></polymerday-data>
      <template is="dom-if" if="[[sponsorsGold.length]]">
        <polymerday-sponsors-list
          sponsors="{{sponsorsGold}}"
          header="Gold Sponsoring"
          logos-size="l"></polymerday-sponsors-list>
      </template>


      <polymerday-data
        page="sponsors"
        subpage="iron"
        data="{{sponsorsIron}}"></polymerday-data>
      <template is="dom-if" if="[[sponsorsIron.length]]">
        <polymerday-sponsors-list
          sponsors="{{sponsorsIron}}"
          header="Iron Sponsoring"
          logos-size="m"></polymerday-sponsors-list>
      </template>

      <polymerday-data
        page="sponsors"
        subpage="paper"
        data="{{sponsorsPaper}}"></polymerday-data>
      <template is="dom-if" if="[[sponsorsPaper.length]]">
        <polymerday-sponsors-list
          sponsors="{{sponsorsPaper}}"
          header="Paper Sponsoring"
          logos-size="s"></polymerday-sponsors-list>
      </template>
    </div>
  </div>

  </template>

  <script>

    Polymer({

      is: 'polymerday-sponsors'

    });

  </script>

</dom-module>
